<breadcrumb [title]="'Alumnos Registrados'" />

<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-primary" [routerLink]="['/auth/registro-simposio']">
    Registrar nuevo participante
  </button>
</div>

<div class="container bg-light rounded p-3 mb-3 border col-12">
  <div class="row row-cols-2 row-cols-md-3 g-2 g-lg-3">
    <!-- 👇 Tus 3 tarjetas, SIN cambios -->
    <div class="col">
      <div class="earnings-section">
        <div class="d-flex gap-2 align-items-center">
          <h6 class="mb-0 fw-normal fs-16">Registrados</h6>
        </div>
        <h4 class="my-2 text-dark">{{asistentesList.length}}</h4>
      </div>
    </div>

    <div class="col">
      <div class="earnings-section">
        <div class="d-flex gap-2 align-items-center">
          <h6 class="mb-0 fw-normal fs-16">Esperados</h6>
        </div>
        <h4 class="my-2 text-dark">{{esperados}}</h4>
      </div>
    </div>

    <div class="col">
      <div class="earnings-profit mt-md-0 mt-2">
        <div class="ms-md-3">
          <div class="d-flex gap-2 align-items-center">
            <h6 class="mb-0 fw-normal fs-16">Total de ingresos</h6>
          </div>
          <h4 class="my-2 text-dark">Q {{totalIngresos}}</h4>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table datatable datatable-table" id="datatable_1">
            <thead>
              <tr>
                <th class="ps-0">Nombre</th>
                <th>Tipo de usuario</th>
                <th>Correo</th>
                <th>Carnet</th>
                <th>Teléfono</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (item of asistentesList; track $index) {
                <tr>
                  <td class="ps-0">
                    <p class="d-inline-block align-middle mb-0">
                      <span class="font-13 fw-medium">{{ item.name }}</span>
                    </p>
                  </td>
                  <td>
                    <span class="badge" [ngClass]="{
                      'bg-warning-subtle text-warning': item.participant_type == 'In Progress',
                      'bg-danger-subtle text-danger': item.participant_type == 'estudiante_umg',
                      'bg-secondary-subtle text-secondary': item.participant_type == 'catedratico_umg',
                      'bg-info-subtle text-info': item.participant_type == 'externo',
                      'bg-success-subtle text-success': item.status == 'Completed'
                    }">
                      {{ item.participant_type }}
                    </span>
                  </td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.carnet }}</td>
                  <td>{{ item.phone }}</td>
                  <td class="text-end">
                    <button
                      *ngIf="item.status === 'Pendiente'"
                      class="btn btn-sm btn-success"
                      (click)="openModal(scrollableModal, { scrollable: true }, item.id)">
                      Confirmar
                    </button>
                    <span *ngIf="item.status === 'Confirmado'" class="badge bg-success-subtle text-success">
                      Confirmado
                    </span>
                    <button
                      *ngIf="item.status === 'Pendiente'"
                      class="btn btn-sm btn-light ml-2"
                      (click)="elimanarParticipante(item.id)">
                      Eliminar
                    </button>

                    <div class="card-body">

                     <!-- Modal -->
                      <ng-template
                        #scrollableModal
                        let-modal
                        class="modal fade"
                        id="exampleModalScrollable"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalScrollableTitle"
                        aria-hidden="true"
                      >
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalScrollableTitle">
                            Comprobante de Pago
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            (click)="modal.close('Save click')"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <img *ngIf="comprobanteUrl" [src]="comprobanteUrl" alt="Comprobante" class="img-fluid" />
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-light"
                            (click)="modal.close()"
                            data-bs-dismiss="modal"
                            (click)="modal.close('Save click')"
                          >
                            Cerrar
                          </button>
                          <button type="button" class="btn btn-primary" (click)="confirmarParticipante(item.id)">Confirmar</button>
                        </div>
                      </ng-template>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
